{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid homepage">
    <div class="panel centered intro">
        <h1>We’re A Digital Brand & Product Innovation Studio</h1>
    </div>
    <div class="panel narrow centered">
        <h3>Some work we're really proud of.</h3>
    </div>
</div>
{% endblock %}
