{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid homepage">
    <div class="panel centered intro">
        <h1>We’re A Digital Brand & Product Innovation Studio</h1>
    </div>
    <div class="panel narrow centered">
        <h3>Some work we're really proud of.</h3>
    </div>

    <div class="container-fluid featured-projects">

      <a href="#" class="panel panel-project" style="background: url('{{ asset('images/projects/01-home.jpg') }}'); background-size: cover;">
        <div class="project-intro">
          <h3>OLA Cosmetic</h3>
          <h4>Branding and Packaing</h4>
          <span>- view work -</span>
        </div>
      </a>

      <a href="#" class="panel panel-project" style="background: url('{{ asset('images/projects/02-home.jpg') }}'); background-size: cover;">
        <div class="project-intro">
          <h3>OLA Cosmetic</h3>
          <h4>Branding and Packaing</h4>
          <span>- view work -</span>
        </div>
      </a>

      <a href="#" class="panel panel-project" style="background: url('{{ asset('images/projects/03-home.jpg') }}'); background-size: cover;">
        <div class="project-intro">
          <h3>OLA Cosmetic</h3>
          <h4>Branding and Packaing</h4>
          <span>- view work -</span>
        </div>
      </a>

    </div>

    <div class="container-fluid home-texts">
      <a href="#" class="viewmore">- See all our Projects -</a>
      <h3>We are an Independent Creative, Branding, Marketing and Production Studio.</h3>
      <a href="#" class="enquire">- Start a project with us -</a>
    </div>

</div>
{% endblock %}
