.homepage {
    .panel {

        &.centered {
            text-align: center;
        }

        &.intro {
          padding: 150px 25px 100px;
          background: url("#{$img-path}/fno.png") center no-repeat;

          @media(min-width: 600px) {
            padding: 170px 25px 100px;
          }

          @media(min-width: 800px) {
            padding: 180px 25px 150px;
          }

          h1 {
            font-weight: 500;
            font-size: 36px;
            line-height: 1.1em;
            margin: 0;

            @media(min-width: 600px) {
              font-size: 40px;
            }

            @media(min-width: 900px) {
              font-size: 44px;
            }

            @media(min-width: 1200px) {
              font-size: 48px;
            }

          }
        }

        &.narrow {
            padding: 20px;

            h3 {
                font-size: 16px;
                font-weight: 300;
                color: #363636;
            }

            @media(min-width: 800px) {
              padding: 40px;
            }
        }
    }
}

.panel-project {
  display: block;
  text-decoration: none;
  position: relative;
  padding: 100px 25px;

  @media(min-width: 600px) {
    padding: 130px 50px;
  }

  @media(min-width: 800px) {
    padding: 150px 50px;
  }

  .project-intro {
    background: #000;
    color: #fff;
    padding: 30px 15px;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;

    @media(min-width: 600px) {
      margin: 0;
      padding: 50px 20px;
    }

    @media(min-width: 1000px) {
      padding: 70px 20px;
    }

    @media(min-width: 1300px) {
      padding: 90px 20px;
    }

    @media(min-width: 1600px) {
      padding: 100px 20px;
    }


    h3 {
      font-size: 28px;
      font-weight: 300;
      margin: 0 0 10px;
      line-height: 1em;

      @media(min-width: 800px) {
        font-size: 32px;
      }

      @media(min-width: 1200px) {
        font-size: 36px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: 300;
      margin: 0;
    }

    span {
      display: block;
      padding-top: 20px;
      font-size: 16px;
      color: #c7b299;
    }
  }

  &:nth-child(even) {
    .project-intro {
      margin-left: auto;
    }
  }
}

.home-texts {
  text-align: center;
  padding: 50px 20px;

  .viewmore {
    display: block;
    text-decoration: none;
    color: #000;

    &:hover {
      color: #c7b299;
    }
  }

  h3 {
    font-size: 30px;
    font-weight: 400;
    max-width: 970px;
    margin: 80px auto;
    line-height: 1.1em;

    @media(min-width: 600px) {
      font-size: 36px;
    }

    @media(min-width: 800px) {
      font-size: 40px;
      margin: 100px auto;
    }

    @media(min-width: 1300px) {
      font-size: 48px;
    }

    @media(min-width: 1400px) {
      margin: 130px auto;
    }
  }

  $box-height: 250px;

  .enquire {
    display:
    block;
    background: #000;
    color: #fff;
    font-weight: 500;
    width: $box-height;
    height: $box-height;
    line-height: $box-height;
    margin: 0 auto;
    border-radius: 50%;
    text-decoration: none;
    margin-bottom: 30px;

    &:hover {
      background: lighten(#000, 10%);
      color: #c7b299;
    }
  }
}
