<div class="fullmenu">
  <nav>
    <ul>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Who we are</a></li>
      <li><a href="#">Start a project with Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>
</div>
